.banner__container {
  height: 205px;
  width: 100%;
  background: #f491d4;
}

.banner__container--img {
  background: url(https://www.unionjalisco.mx/sites/default/files/styles/galeria/public/field/image/94884337_10158119968701217_7601779526200197120_o.png?itok=1RLhCGN-);
  background-size: cover;
  width: 100vw;
  height: 200px;
}
