.chatbot__container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 50px 0;
}
.chatbot__container--background {
  background: #f7aee0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbot__container--border {
  background: #da0496;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbot__container--img {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
.chatbot__container--img img {
  display: block;
  width: 100%;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(15px);
  }
}
