.header {
  background: #e10098;
  color: white;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__img {
  height: 80%;
}
